:root {
  --accent-color: cyan;
  --font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --link-color: magenta;
  --wip-background: yellow;
  --page-padding-x: 1rem;
  --page-width: 40rem;
  color-scheme: light dark;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent-color: magenta;
    --link-color: cyan;
    --wip-background: #303030;
  }
}

@media screen and (min-width: 720px) {
  :root {
    --font-size: 20px;
    --page-padding-x: 2rem;
  }
}

@media print {
  :root {
    --page-width: none;
  }
}

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.crown-molding {
  border-top: 0.5rem solid var(--accent-color);
}

.page {
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 1rem var(--page-padding-x);
}

.letterhead {
  display: flex;
  align-items: top;
  margin-top: 1rem;
}

.avatar {
  border-radius: 4rem;
  height: 4rem;
  margin-right: 1rem;
  width: 4rem;
}

.plaintext {
  text-decoration: none;
  color: var(--page-color);
}

.prose a {
  color: var(--link-color);
}

.prose a:hover {
  filter: brightness(80%);
}

.prose a:active {
  filter: brightness(60%);
}

.prose code {
  font-size: 0.9rem;
  font-family: var(--font-family-mono);
  word-break: break-word;
}

.wip-explanation {
  background: var(--wip-background);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px rgba(27, 27, 27, 0.2);
  margin: 1rem auto 1rem auto;
  padding: 2rem;
  transform: rotate(-0.5deg);
  width: 75%;
}

.wip-explanation a {
  color: var(--link-color);
}

.wip-explanation a:hover {
  filter: brightness(80%);
}

.wip-explanation a:active {
  filter: brightness(60%);
}
