<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" media="screen" href="/site.css" />
  </head>

  <body>
    {% if page.url != "/" %}
    <nav>
      <a href="/">Back to the index</a>
    </nav>
    {% endif %}
    {% include "wip_explanation.njk" %}
    <main>{{ content | safe }}</main>
  </body>
</html>
