<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" media="screen" href="/site.css" />
  </head>

  <body>
    <main>
      <nav>
        <ol reversed>
          {% for item in collections.all | reverse %}
          <li>
            <a href="{{ item.url }}">{{ item.data.title }}</a>
            {{ item.date.toUTCString().split(" 00:00:00 GMT")[0] }}
          </li>
          {% endfor %}
        </ol>
      </nav>

      {{ content | safe }}
    </main>
  </body>
</html>
