---
title: danott.co
---
<!DOCTYPE html>
<html lang="en" class="crown-molding">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" media="screen" href="/assets/site.css" />
  </head>

  <body class="page">
    <header class="letterhead">
      <a href="/" class="plaintext">
        <img 
          alt="Dan Ott holding a bottle of hot sauce." 
          class="avatar"
          height="100"
          src="/assets/images/danott.jpg" 
          width="100" 
        >
      </a>
      <div>
        <a href="/" class="plaintext">
          <strong>Dan Ott's Website</strong>
        </a>
        <br />
        {% include "the_fun_zone.njk" %}
      </div>
    </header>

    {% include "wip_explanation.njk" %}

    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
