<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" media="screen" href="/assets/site.css" />
  </head>

  <body>
    <header>
      <a href="/" class="subtle">
        <img src="/assets/images/danott.jpg" alt="Dan Ott holding a bottle of hot sauce." width="100" height="100" />
      </a>
      <p>
        <strong>Dan Ott's Website</strong>
      </p>
    </header>

    
    <main>
      {% include "wip_explanation.njk" %}
      {{ content | safe }}
    </main>
  </body>
</html>
