<span id="the-fun-zone" style="cursor: default">
  <template>The #1 name in personal websites.</template>
  <template>Are we human? Are we dancer? Yes.</template>
  <template>Exceptional mediocrity.</template>
  <template>The Internet's favorite webmaster.</template>
  <template>The first 24 hour sports bloopers network.</template>
  <template>Let your mmhmm be mmhmm and your nuh-uh be nuh-uh.</template>
  <template>What would you say you do here?</template>
</span>

<script>
  (function () {
    var theFunZone = document.getElementById("the-fun-zone")
    var templates = theFunZone.querySelectorAll("template")
    var selectedIndex = randomIndex(templates)

    function randomIndex(array) {
      return Math.floor(Math.random() * array.length)
    }

    function incrementIndex(array, index) {
      return (index + 1) % array.length
    }

    function render() {
      selectedIndex = incrementIndex(templates, selectedIndex)
      var selectedTemplate = templates[selectedIndex]
      theFunZone.removeChild(theFunZone.lastChild)
      theFunZone.appendChild(selectedTemplate.content.cloneNode(true))
    }

    theFunZone.addEventListener("click", render)
    render()
  })()
</script>

