<aside class="wip-explanation">
  <details>
    <summary>This site is being built in the open</summary>

    <p>
      I decided to <a href="/starting-over/">start over</a> on a twenty year old personal website.
      Things will definitely feel <em>rough draft</em> as I build up a world from scratch.
      You can follow along with the progress on <a href="/commits/">the commits page</a>.
    </p>
  </details>
</aside>
