<header class="wip-explanation">
{% markdown %}
# This site is being built in the open

I decided to [start over](/starting-over/) on a twenty year old personal website.
Things will definitely feel _rough draft_ as I build up a world from scratch.
You can follow along with the progress on [the commits page](/commits/).
{% endmarkdown %}
</header>
