---
permalink: "feed.json"
url: https://www.danott.me
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ url }}",
  "home_page_url": "{{ url }}",
  "feed_url": "{{ url }}/feed.json",
  "language": "en-US",
  "expired": false,
  "items": []
}
