---
layout: default.njk
eleventyExcludeFromCollections: true
---

<h1>🤠 Howdy!</h1>

<p>
  As noted above, this site is under a major renovation.
  A listing of date based content is available at <a href="/posts/">/posts</a>.
</p>