---
layout: markdown.njk
eleventyExcludeFromCollections: true
---

<h1>👋 Howdy!</h1>

<p>
  I'm Dan Ott.
  This is my website.
  You probably put that together from the header that says "Dan Ott's Website".
</p>

<p>
  As noted above, this website is undergoing renovations.
  A listing of date based content is available at <a href="/posts/">/posts</a>.
</p>
