html {
  margin: 1rem;
}

body {
  max-width: 36rem;
  margin: 0 auto;
}

.wip-explanation {
  background: yellow;
  border: 1px solid lightyellow;
  margin: 1rem 0;
  padding: 0 2rem;
  box-shadow: #eaeaea 4px 4px 4px;
}
