---
layout: default.njk
eleventyExcludeFromCollections: true
---

<h1>Posts</h1>

<ol reversed>
  {% for item in collections.all | reverse %}
    {% if not item.data.hidden %}
      <li>
        <a href="{{ item.url }}">{{ item.data.title }}</a>
        {{ item.date.toUTCString().split(" 00:00:00 GMT")[0] }}
      </li>
    {% endif %}
  {% endfor %}
</ol>
