<% title "Today I Learned" %>
<% set_icon "🤓" %>

<h1>Today I Learned</h1>

<ul>
  <% TodayILearned.all.each do |note| %>
    <li>
      <%= link_to note.published_at.to_s(:date), page_path(note) %>
    </li>
  <% end %>
</ul>

